  <style>
    /* General page styles */
    body {
      font-family: Ahoroni, Futura;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      background-color: #02750D;
    }

body {
  text-align: center;
}

h1 {
border: 2px solid 
Border-radis: 10px 
{

.image-row {
  display: flex;               /* Aligns images side by side */
  justify-content: center;     /* Centers the whole row */
  flex-wrap: wrap;             /* Allows wrapping on smaller screens */
  gap: 10px;                   /* Space between images */
}

.image-row img {
  height: auto;
}
